<div id="drop" style="height: 200px;width: 300px;border: dashed gray 3px;" [ngStyle]="dropzoneStyle" (dragover)="onDragOver($event)"
  (drop)="readFile($event)">
  Drop here....
</div>

<div>
  <input type="file" (change)="readFile($event)" />
</div>
<hr />
<pre>{{files|json}}</pre>
<hr /> workBook
<pre>{{workBook | json}}</pre>
<hr /> workSheetNames
<pre>{{workSheetNames | json}}</pre>
<hr /> workSheets
<pre>{{workSheets | json}}</pre>
<hr /> currentWorkSheet
<pre>{{currentWorkSheet | json}}</pre>
<hr /> currentData
<pre>{{currentData | json}}</pre>
